{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block page_header %}{% endblock %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Блог</h1>
</div>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <form class="row" method="post" enctype="multipart/form-data">
                    <div class="card mx-auto">
                        <p class="card-text text-center"> Вы действительно хотите удалить пост "{{ object.title }}"?</p>
                        <div class="card-body">
                            {% csrf_token %}
                        </div>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a class="btn btn-outline-success btn-sm" href="{% url 'blog:post_detail' object.pk %}"
                               role="button">Посмотреть пост</a>
                            <a class="btn btn-outline-info btn-sm" href="{% url 'blog:posts_list' %}" role="button">Вернуться
                                в блог</a>
                            <button type="submit" class="btn btn-outline-danger btn-sm">
                                Удалить
                            </button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}